@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Noto Sans TC";
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.header {
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  padding: 0 10px;
}
.header .logo img {
  width: 250px;
  height: 250px;
}

.header nav {
  width: 400px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3399ff;
}

.header nav a {
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}

.header nav a:hover {
  background-color: orange;
}

@media (max-width: 770px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .header .logo .img {
    width: 150px;
    height: 150px;
  }

  .header nav {
    margin: 10px auto;
  }

  .header nav a {
    width: 50%;
  }
}

main {
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  margin: 20px auto 0;
  padding: 0 10px;
}

main .content {
  width: 70%;
  border: 2px solid #000;
  padding: 10px;
}

main .content h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 24px;
}

main .content p {
  font-size: 16px;
  margin-bottom: 24px;
}

main .sidemenu {
  width: 25%;
  border: 2px solid #000;
  padding: 5px;
}

main .sidemenu img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

@media (max-width: 770px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  main .content {
    width: 80%;
    margin-bottom: 10px;
  }

  main .sidemenu {
    width: 80%;
  }

  main .sidemenu img {
    width: 100%;
  }
}

footer {
  font-size: 20px;
  text-align: center;
  max-width: 1024px;
  margin: 0 auto;
  padding: 8px 0;
}
